<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Control Ejidal</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!--<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />-->
  <!-- Favicons -->
  <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
  <link href="#" th:href="@{/img/favicon.png}"    rel="icon">
  <link href="#" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"   rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="#" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="#" th:href="@{/lib/nivo-slider/css/nivo-slider.css}"  rel="stylesheet">
  <link href="#" th:href="@{/lib/owlcarousel/owl.carousel.css}"  rel="stylesheet">
  <link href="#" th:href="@{/lib/owlcarousel/owl.transitions.css}"  rel="stylesheet">
  <link href="#" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"  rel="stylesheet">
  <link href="#" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
  <link href="#" th:href="@{/lib/venobox/venobox.css}" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="#" th:href="@{/css/nivo-slider-theme.css}"   rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link   th:href="@{/css/style.css}" href="#"  rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="#" th:href="@{/css/responsive.css}"   rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div id="preloader"></div>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <a class="navbar-brand page-scroll sticky-logo" href="#home" th:href="@{/inicio2}">
                  <h1><span>C</span>ontrol Ejidal</h1>
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <!-- <img src="img/logo.png" alt="" title=""> -->
                </a>
               
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="page-scroll" href="#home" th:href="@{/inicio2}">Inicio</a>
                  </li>

                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pagos/Cuotas<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href=# >Cerrar Sesión</a></li>
                      <li><a href=# >#Historial# Pendiente</a></li>
                      <li><a href="#" th:href="@{/ejidatarios/ejidatarioForm?id=0}"></a>Información Personal</li>
                    </ul>
                  </li>

                  <li>
                    <a class="page-scroll" href="#portfolio"></a>
                  </li>

                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentación<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href=# >Solicitar</a></li>
                      <li><a href=# >Historial</a></li>
					  <li><a href=# >Actualizar</a></li>
                    </ul> 
                  </li>

				  <li>
                    <a class="page-scroll" href="#contact">Contacto</a>
                  </li>

				  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href=# >Cerrar Sesión</a></li>
                      <li><a href=# >#Historial# Pendiente</a></li>
                      <li><a href="#" th:href="@{/ejidatarios/ejidatarioForm?id=0}">Registrar Información</a></li>
                      <li><a href=# th:href="@{/ejidatarios/showEjidatarios}">Iformación Personal</a></li>



                    </ul> 
                  </li>
                  
                  
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->

  <!-- Start Slider Area -->
  <div id="home" class="slider-area">
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        <img src="img/slider/rancho1.jpg" alt="" title="#slider-direction-1" />
        <img src="img/slider/rancho1.jpg" alt="" title="#slider-direction-2" />
        <img src="img/slider/rancho1.jpg" alt="" title="#slider-direction-3" />
      </div>

      <!-- direction 1 -->
      <div id="slider-direction-1" class="slider-direction slider-one">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
               
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">Sistema de Control Ejidal</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href=# th:href="@{/eventos/calendario}">Calendario</a>
                  <a class="ready-btn page-scroll" href=# th:href="@{/eventos/showContacts}">Eventos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <!-- End Slider Area -->
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->


  <!-- Start contact Area -->
  <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Contacto</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                  cel: 6865224435<br>
                  <span>Lunes-Viernes (9am-5pm)</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>
                  Email: elena@uabc.edu.mx.com<br>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p>
                  Localizacion: Ejido Mesa Rica Municipio San Luis Rio Colorado.<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Start Map -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27025.701685654356!2d-114.9428294!3d32.1445579!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzLCsDA4JzMzLjEiTiAxMTTCsDU2JzA0LjkiVw!5e0!3m2!1ses-419!2smx!4v1570482541206!5m2!1ses-419!2smx" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

           <!-- End Map -->
          </div>
          <!-- End Google Map -->

          <!-- Start  contact -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form contact-form">
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
              </form>
            </div>
          </div>
          <!-- End Left contact -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Area -->

  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          
          
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong>SICOE</strong>. All Rights Reserved
              </p>
            </div>
            <div class="credits">
              
            </div>
          </div>
        </div>
      </div>
    </div></div></div></div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script th:src="@{'/lib/jquery/jquery.min.js'}"></script>
  <script th:src="@{'/lib/bootstrap/js/bootstrap.min.js'}" ></script>
  <script th:src="@{'/lib/owlcarousel/owl.carousel.min.js'}" ></script>
  <script th:src="@{'/lib/venobox/venobox.min.js'}" ></script>
  <script th:src="@{'/lib/knob/jquery.knob.js'}" ></script>
  <script th:src="@{'/lib/wow/wow.min.js'}" ></script>
  <script th:src="@{'/lib/parallax/parallax.js'}" ></script>
  <script th:src="@{'/lib/easing/easing.min.js'}" ></script>
  <script th:src="@{'/lib/nivo-slider/js/jquery.nivo.slider.js'}"  type="text/javascript"></script>
  <script th:src="@{'/lib/appear/jquery.appear.js'}" ></script>
  <script th:src="@{'/lib/isotope/isotope.pkgd.min.js'}" ></script>

  <!-- Contact Form JavaScript File -->
  <script th:src="@{'/contactform/contactform.js'}" ></script>

  <script th:src="@{'/js/main.js'}" ></script>
</body>

</html>
