<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Perfil Ejidatario</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link href="#" th:href="@{/img/favicon.png}"    rel="icon">
    <link href="#" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"   rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="#" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="#" th:href="@{/lib/nivo-slider/css/nivo-slider.css}"  rel="stylesheet">
    <link href="#" th:href="@{/lib/owlcarousel/owl.carousel.css}"  rel="stylesheet">
    <link href="#" th:href="@{/lib/owlcarousel/owl.transitions.css}"  rel="stylesheet">
    <link href="#" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"  rel="stylesheet">
    <link href="#" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{/lib/venobox/venobox.css}" rel="stylesheet">

    <!-- Nivo Slider Theme -->
    <link href="#" th:href="@{/css/nivo-slider-theme.css}"   rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link   th:href="@{/css/style.css}" href="#"  rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <link href="#" th:href="@{/css/responsive.css}"   rel="stylesheet">

    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

<div id="preloader"></div>

<header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <!-- Navigation -->
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand page-scroll sticky-logo" th:href="@{/inicio2}">
                                <h1><span>C</span>ontrol Ejidal</h1>
                                <!-- Uncomment below if you prefer to use an image logo -->
                                <!-- <img src="img/logo.png" alt="" title=""> -->
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                            <ul class="nav navbar-nav navbar-right">
                                <li >
                                    <a class="page-scroll" href="#home">Inicio</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#about">Eventos</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#services">Pagos/CuotaS</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#team">Calendario</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#portfolio"></a>
                                </li>

                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentación<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href=# >Solicitar</a></li>
                                        <li><a href=# >Historial</a></li>
                                    </ul>
                                </li>


                                <li>
                                    <a class="page-scroll active" href="#contact">Contacto</a>
                                </li>
                            </ul>
                        </div>
                        <!-- navbar-collapse -->
                    </nav>
                    <!-- END: Navigation -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
</header>
<!-- Start contact Area -->
<br> <br> <br> <br>

<div class="container bootstrap snippet">
    <div class="row">
        <!--<div class="col-sm-10"><h1>Ejidatario  </h1></div>-->

    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted">Documentos PDF's</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>CURP</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Acta de Nacimiento</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Copie INE/IFE</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Acta de Matrimonio</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Certificado Parcelario</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Certificado de uso comun</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Permiso de riego</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>R.F.C.</strong></span> <a target="_blank" href="curp.pdf" data-toggle="tooltip" title="Descargar" download > <img src="icon.png" width=10%> </a></li>
            </ul>
        </div><!--/col-3-->
        <div class="col-sm-6" th:each="ejidatario:${ejidatarios}">
            <form class="form" action="#"   method="post" id="registrationForm">

                <div class="col-sm-10"><h1>Ejidatario  </h1></div> <input type="hidden" th:text="${ejidatario.id}"></input>

                <div class="form-group">
                    <label for="first_name"><h4>Datos Personales</h4></label>
                    <div class="col-xs-12">

                        <input type="text" th:text="${ejidatario.nombre}" class="form-control" name="first_name" id="first_name" placeholder="Nombre Completo" title="enter your first name if any.">
                    </div>
                </div>
                <br></br>
                <div class="form-group">

                    <div class="col-xs-12">

                        <input type="date" th:text="${ejidatario.fecha}" class="form-control" name="Fecha de  Nacimiento" id="Fecha de  Nacimiento" placeholder="Fecha de Nacimiento" title="enter your last name if any.">
                    </div>
                </div>
                <br></br>
                <div class="form-group">

                    <div class="col-xs-12">

                        <input type="text" th:text="${ejidatario.CURP}" class="form-control" name="last_name" id="last_name" placeholder="CURP" title="enter your last name if any.">
                    </div>
                </div>
                <br></br>
                <div class="form-group">

                    <div class="col-xs-12">

                        <input type="text" th:text="${ejidatario.telefono}" class="form-control" name="phone" id="phone" placeholder="Telefono" title="enter your phone number if any.">
                    </div>
                </div>
                <br></br>
                <div class="form-group">

                    <div class="col-xs-12">

                        <input type="email" th:text="${ejidatario.email}"   class="form-control" name="email" id="email" placeholder="Ejemplo@email.com" title="ejemplo@email.com">
                    </div>
                </div>
                <br></br>

                <!-- boton de guardar cambios -->
                <div class="col-xs-12 align-center" align="center">
                    <button id="disparador" class="ready-btn right-btn page-scroll" type="submit"><i class="glyphicon glyphicon-ok-sign" th:href="@{/ejidatarios/ejidatarioForm?id=__${ejidatario.id}__}"></i>Modificar</button>
                    <button id="oculto" class="ready-btn right-btn page-scroll"  type="submit"><i class="glyphicon glyphicon-ok-sign"  th:href="@{/inicio2}"></i>Guardar Cambios</button>

                </div>

            </form>
        </div>
        <br></br>
        <div class="col-sm-3" th:each="ejidatario:${ejidatarios}"  ><!--cuadro de la derecha -->
            <form class="form" action="#"  action="#"  method="post" id="registrationForm2">
            <ul class="list-group">

                <li class="list-group-item text-muted">Datos de Empresa</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Nombre:</strong></span> <input type="text" class="form-control" th:text="${ejidatario.nombreEmpresa}" name="phone" id="phone" placeholder="Nombre Empresa" ></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Telefono:</strong></span> <input type="text" class="form-control" th:text="${ejidatario.telefonoEmpresa}" name="phone" id="phone" placeholder="Horario Empresa" </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Dirección de la Empresa</strong></span>   <input type="email" class="form-control" th:text="${ejidatario.direccionEmpresa}" name="email" id="email" placeholder="Ejemplo@email.com" </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Correo Elentronico:</strong></span>   <input type="email" class="form-control"  th:text="${ejidatario.emailEmpresa}" name="email" id="email" placeholder="Ejemplo@email.com" </li>
            </ul>
            <!-- botones aqui -->

        </div><!--termina cuadro derecha -->
    </div><!--div del body--></form>
</div><!--todo excepto el menu-->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script th:src="@{'/lib/jquery/jquery.min.js'}"></script>
<script th:src="@{'/lib/bootstrap/js/bootstrap.min.js'}" ></script>
<script th:src="@{'/lib/owlcarousel/owl.carousel.min.js'}" ></script>
<script th:src="@{'/lib/venobox/venobox.min.js'}" ></script>
<script th:src="@{'/lib/knob/jquery.knob.js'}" ></script>
<script th:src="@{'/lib/wow/wow.min.js'}" ></script>
<script th:src="@{'/lib/parallax/parallax.js'}" ></script>
<script th:src="@{'/lib/easing/easing.min.js'}" ></script>
<script th:src="@{'/lib/nivo-slider/js/jquery.nivo.slider.js'}"  type="text/javascript"></script>
<script th:src="@{'/lib/appear/jquery.appear.js'}" ></script>
<script th:src="@{'/lib/isotope/isotope.pkgd.min.js'}" ></script>

<!-- Contact Form JavaScript File -->
<script th:src="@{'/contactform/contactform.js'}" ></script>

<script th:src="@{'/js/main.js'}" ></script>
</body>

</html>