<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="utf-8">
    <title>Control Ejidal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link href="#" th:href="@{/img/favicon.png}"    rel="icon">
    <link href="#" th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"   rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="#" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="#" th:href="@{/lib/nivo-slider/css/nivo-slider.css}"  rel="stylesheet">
    <link href="#" th:href="@{/lib/owlcarousel/owl.carousel.css}"  rel="stylesheet">
    <link href="#" th:href="@{/lib/owlcarousel/owl.transitions.css}"  rel="stylesheet">
    <link href="#" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"  rel="stylesheet">
    <link href="#" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{/lib/venobox/venobox.css}" rel="stylesheet">

    <!-- Nivo Slider Theme -->
    <link href="#" th:href="@{/css/nivo-slider-theme.css}"   rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link   th:href="@{/css/style.css}" href="#"  rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <link href="#" th:href="@{/css/responsive.css}"   rel="stylesheet">

    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

<div id="preloader"></div>

<header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <!-- Navigation -->
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Brand -->
                            <a class="navbar-brand page-scroll sticky-logo" th:href="@{/inicio2}">
                                <h1><span>C</span>ontrol Ejidal</h1>
                                <!-- Uncomment below if you prefer to use an image logo -->
                                <!-- <img src="img/logo.png" alt="" title=""> -->
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active">
                                    <a class="page-scroll" href="#home">Inicio</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#about">Eventos</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#services">Pagos/Cuotas</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#team">Calendario</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#portfolio"></a>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentación<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href=# >Solicitar</a></li>
                                        <li><a href=# >Historial</a></li>
                                    </ul>
                                </li>


                                <li>
                                    <a class="page-scroll" href="#contact">Contacto</a>
                                </li>
                            </ul>
                            <!-- <ul class="nav navbar-nav navbar-right">
                               <li class="active">
                                 <a class="page-scroll" href="#home">Home</a>
                               </li>
                               <li>
                                 <a class="page-scroll" href="#about">About</a>
                               </li>
                               <li>
                                 <a class="page-scroll" href="#services">Services</a>
                               </li>
                               <li>
                                 <a class="page-scroll" href="#team">Team</a>
                               </li>
                               <li>
                                 <a class="page-scroll" href="#portfolio">Portfolio</a>
                               </li>
                               <li>
                                 <a class="page-scroll" href="#blog">Blog</a>
                               </li>
                               <li>
                                 <a class="page-scroll" href="#contact">Contact</a>
                               </li>
                             </ul>-->
                        </div>
                        <!-- navbar-collapse -->
                    </nav>
                    <!-- END: Navigation -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
</header>
<!-- header end -->

<!-- Start Bottom Header -->
<div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!--   <div class="slider-content text-center">
                     <div class="header-bottom">
                       <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                         <h1 class="title2">Blog Details </h1>
                       </div>
                       <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                         <h2 class="title3">profesional Blog Page</h2>
                       </div>
                     </div>
                   </div>-->
            </div>
        </div>
    </div>
</div>
<!-- END Header -->
<div class="blog-page area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="page-head-blog">
                    <div class="single-blog-page">
                        <!-- search option start -->
                        <form action="#">

                        </form>
                        <!-- search option end -->
                    </div>
                    <div class="single-blog-page">
                        <!-- recent start -->
                        <!--<div class="left-blog">
                          <h4>recent post</h4>

                        </div>-->
                        <!-- recent end -->
                    </div>
                    <div class="single-blog-page">
                        <!--<div class="left-blog">
                          <h4>categories</h4>
                          <ul>
                            <li>
                              <a href="#">Portfolio</a>
                            </li>
                            <li>
                              <a href="#">Project</a>
                            </li>
                            <li>
                              <a href="#">Design</a>
                            </li>
                            <li>
                              <a href="#">wordpress</a>
                            </li>
                            <li>
                              <a href="#">Joomla</a>
                            </li>
                            <li>
                              <a href="#">Html</a>
                            </li>
                            <li>
                              <a href="#">Website</a>
                            </li>
                          </ul>
                        </div>fdfdfd-->
                    </div>
                    <div class="single-blog-page">
                        <!--<div class="left-blog">
                          <h4>archive</h4>
                          <ul>
                            <li>
                              <a href="#">07 July 2016</a>
                            </li>
                            <li>
                              <a href="#">29 June 2016</a>
                            </li>
                            <li>
                              <a href="#">13 May 2016</a>
                            </li>
                            <li>
                              <a href="#">20 March 2016</a>
                            </li>
                            <li>
                              <a href="#">09 Fabruary 2016</a>
                            </li>
                          </ul>
                        </div>fffff-->
                    </div>
                    <br></br>
                    <div class="single-blog-page">
                        <div class="left-tags blog-tags">
                            <br></br>
                            <div class="popular-tag left-side-tags left-blog">
                                <center><h4>Subir PDF'S *</h4></center>
                                <ul><center>
                                    <li>
                                        <a>Acta/Nacimiento</a>
                                        <input type="file" class="form-control-file" value="Enviar Informacion" id="exampleFormControlFile1">
                                        <a>INE</a>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile2">
                                        <a>CURP</a>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile3">
                                        <a>Certificado Parcelario</a>
                                        <input type="file" class="form-control-file " id="exampleFormControlFile4">
                                    </li>

                                </ul></center>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <!-- End left sidebar -->
            <!-- Start single blog -->
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- single-blog start -->
                        <article class="blog-post-wrapper">
                            <div class="post-thumbnail">
                                <!--<img src="img/blog/6.jpg" alt="" />-->
                            </div>

                        </article>
                        <div class="clear"></div>
                        <div class="single-post-comments">
                            <!--<div class="comments-area">
                              <div class="comments-heading">
                                <h3>6 comments</h3>
                              </div>
                              <div class="comments-list">
                                <ul>
                                  <li class="threaded-comments">
                                    <div class="comments-details">
                                      <div class="comments-list-img">
                                        <img src="img/blog/b02.jpg" alt="post-author">
                                      </div>
                                      <div class="comments-content-wrap">
                                        <span>
                                                                            <b><a href="#">demo</a></b>
                                                                            Post author
                                                                            <span class="post-time">October 6, 2014 at 4:25 pm</span>
                                        <a href="#">Reply</a>
                                        </span>
                                        <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                                      </div>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="comments-details">
                                      <div class="comments-list-img">
                                        <img src="img/blog/b02.jpg" alt="post-author">
                                      </div>
                                      <div class="comments-content-wrap">
                                        <span>
                                                                            <b><a href="#">admin</a></b>
                                                                            Post author
                                                                            <span class="post-time">October 6, 2014 at 6:18 pm </span>
                                        <a href="#">Reply</a>
                                        </span>

                                      </div>
                                    </div>
                                  </li>
                                  <li class="threaded-comments">
                                    <div class="comments-details">
                                      <div class="comments-list-img">
                                        <img src="img/blog/b02.jpg" alt="post-author">
                                      </div>
                                      <div class="comments-content-wrap">
                                        <span>
                                                                            <b><a href="#">demo</a></b>
                                                                            Post author
                                                                            <span class="post-time">October 6, 2014 at 7:25 pm</span>
                                        <a href="#">Reply</a>
                                        </span>

                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>***************-->
                            <div class="comment-respond">
                                <h3 class="comment-reply-title">Datos Personales </h3>
                                <span class="email-notes"></span>
                                <form action="#" th:action="@{/ejidatarios/addejidatario}" th:object="${ejidatarioModel}" method="post" role="form" class="contactForm">
                                    <div class="row">
                                        <input type="hidden" th:field="*{id}"></input>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>Nombre Completo*</p>
                                            <input type="text" th:field="*{nombre}" th:value="${Nombre}" class="form-control" id="Nombre Completo" placeholder="Nombre Completo" data-rule="minlen:4"  />
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>Fecha de Nacimiento*</p>
                                            <input type="date" th:field="*{fecha}" th:value="${Fecha}" class="form-control" id="Fecha de Nacimiento" placeholder="Fecha de Nacimiento" data-rule="minlen:4" />
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>Email *</p>
                                            <input type="email" th:field="*{email}" th:value="${Email}" class="form-control" id="Correo electronico" placeholder="Correo electronico" data-rule="minlen:4" />
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>CURP</p>
                                            <input type="text" th:field="*{CURP}" th:value="${CURP}" class="form-control" id="CURP" placeholder="CURP" data-rule="minlen:4" />
                                        </div>


                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>Telefono *</p>
                                            <input type="number" th:field="*{telefono}" th:value="${Telefono}" class="form-control" id="Telefono" placeholder="Telefono" data-rule="minlen:4" />
                                        </div>

                                    </div>
                                    <br></br>
                                    <h3 class="comment-reply-title">Datos de la empresa </h3>
                                    <div class="row">

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>Nombre de la Empresa*</p>
                                            <input type="text"  th:field="*{nombreEmpresa}" th:value="${nombreEmpresa}" class="form-control" id="Nombre de la empresa" placeholder="Nombre de la empresa" data-rule="minlen:4"/>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>Telefono de la Empresa*</p>
                                            <input type="text" th:field="*{telefonoEmpresa}" th:value="${telefonoEmpresa}" class="form-control" id="Telefono de la Empresa" placeholder="Telefono de la Empresa" data-rule="minlen:4" />
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>Dirección de la Empresa</p>
                                            <input type="text" th:field="*{direccionEmpresa}" th:value="${direccionEmpresa}" class="form-control" id="Dirección de la Empresa" placeholder="Dirección de la Empresa" data-rule="minlen:4" />
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>Email de la Empresa</p>
                                            <input type="email" th:field="*{emailEmpresa}" th:value="${emailEmpresa}" class="form-control" id="Correo electronico de la Empresa" placeholder="Correo electronico de la Empresa" data-rule="minlen:4"/>
                                        </div>



                                        <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                                            <input type="submit" value="Enviar Informacion" />
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- single-blog end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->
<div class="clearfix"></div>

<!-- Start Footer bottom Area -->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <!-- <div class="footer-head">
                           <div class="footer-logo">
                             <h2><span>e</span>Business</h2>
                           </div>

                           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                           <div class="footer-icons">
                             <ul>
                               <li>
                                 <a href="#"><i class="fa fa-facebook"></i></a>
                               </li>
                               <li>
                                 <a href="#"><i class="fa fa-twitter"></i></a>
                               </li>
                               <li>
                                 <a href="#"><i class="fa fa-google"></i></a>
                               </li>
                               <li>
                                 <a href="#"><i class="fa fa-pinterest"></i></a>
                               </li>
                             </ul>
                           </div>
                         </div>-->
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!--<div class="footer-content">
                      <div class="footer-head">
                        <h4>information</h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                        </p>
                        <div class="footer-contacts">
                          <p><span>Tel:</span> +123 456 789</p>
                          <p><span>Email:</span> contact@example.com</p>
                          <p><span>Working Hours:</span> 9am-5pm</p>
                        </div>
                      </div>
                    </div>-->
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!--<div class="footer-content">
                      <div class="footer-head">
                        <h4>Instagram</h4>
                        <div class="flicker-img">
                          <a href="#"><img src="img/portfolio/1.jpg" alt=""></a>
                          <a href="#"><img src="img/portfolio/2.jpg" alt=""></a>
                          <a href="#"><img src="img/portfolio/3.jpg" alt=""></a>
                          <a href="#"><img src="img/portfolio/4.jpg" alt=""></a>
                          <a href="#"><img src="img/portfolio/5.jpg" alt=""></a>
                          <a href="#"><img src="img/portfolio/6.jpg" alt=""></a>
                        </div>
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="copyright text-center">
                    <p>
                      &copy; Copyright <strong>eBusiness</strong>. All Rights Reserved
                    </p>
                  </div>
                  <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                    --> <!--aqui =>
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>-->
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script th:src="@{'/lib/jquery/jquery.min.js'}"></script>
<script th:src="@{'/lib/bootstrap/js/bootstrap.min.js'}" ></script>
<script th:src="@{'/lib/owlcarousel/owl.carousel.min.js'}" ></script>
<script th:src="@{'/lib/venobox/venobox.min.js'}" ></script>
<script th:src="@{'/lib/knob/jquery.knob.js'}" ></script>
<script th:src="@{'/lib/wow/wow.min.js'}" ></script>
<script th:src="@{'/lib/parallax/parallax.js'}" ></script>
<script th:src="@{'/lib/easing/easing.min.js'}" ></script>
<script th:src="@{'/lib/nivo-slider/js/jquery.nivo.slider.js'}"  type="text/javascript"></script>
<script th:src="@{'/lib/appear/jquery.appear.js'}" ></script>
<script th:src="@{'/lib/isotope/isotope.pkgd.min.js'}" ></script>

<!-- Contact Form JavaScript File -->
<script th:src="@{'/contactform/contactform.js'}" ></script>

<script th:src="@{'/js/main.js'}" ></script>

</body>

</html>
